.card.mb-3.shadow-sm.border-0.rounded-3
  .card-body.py-3.text-center
    - if local_assigns[:index].present? && index <= 3
      .crown{ class: "crown-#{index}" }
        %i.bi.bi-award-fill

    = link_to event_path(event), class: 'text-decoration-none text-black' do
      %h4.card-title.fw-semibold.mb-3= event.title
    %p.mb-1
      %strong= event.description
    %p.mb-1.small
      開催日時：
      %strong= l(event.started_at, format: :default)
    %p.mb-1.small
      開催場所：
      %strong= event.venue
    %p.mb-1.small
      参加人数：
      %strong
        = event.entries_count
        人
    %span.badge.bg-primary.mb-2
      .bi.bi-tag= event.category.name
    - if event.reviews.exists?
      %p
        平均レビュー:
        %strong
          = event.average_rating.round(1)
          (#{event.reviews_count}件)

    - if event.user == current_user
      .text-end
        = link_to '編集', edit_users_event_path(event), class: 'btn btn-sm btn-outline-warning me-2'
        = button_to '削除',
                    users_event_path(event),
                    method: :delete,
                    data: { turbo_confirm: '本当に削除しますか？' },
                    form: { class: 'd-inline' },
                    class: 'btn btn-sm btn-outline-danger'
